<h1> Playlists </h1>

<div>
  <button (click)="onCreatePlaylist()" class="button" style="color: black;">Criar Nova Playlist</button>
</div>

<div *ngIf="showForm">
    <form [formGroup]="playlistForm" (ngSubmit)="createPlaylist()">
        <div>
            <!-- <label for="name"></label> -->
            <input type="text" id="name" formControlName="name" style="color: black">
        </div>
        <button type="submit" style="color: black">
            Criar Playlist
        </button>
    </form>
</div>


<app-playlist-item *ngFor="let playlist of playlists" [playlist]="playlist"></app-playlist-item>

<router-outlet></router-outlet>

<!-- <div *ngFor="let playlist of playlists">
    {{ playlist.name }}
</div> -->

  <!-- <a class="music pop">
      <p class="c">Pop</p>
  </a>
  <a class="music chill">
      <p class="c">Chill </p>
  </a>
  <a class="music latino">
       <p class="c">Latino </p>
  </a>
  <a class="music rock">
      <p class="c"> Rock</p>
  </a>
  <a class="music focus">
      <p class="c">Focus </p>
  </a> -->
